<nav class="navbar navbar-fixed-top navbar-dark bg-dark mb-3">
  <img src="assets/logo.svg" alt="" routerLink="inicio">
  <div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="solicitar-credito">Préstamo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="solicitudes">Solicitudes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="usuarios">Usuarios</a></li>
    </ul>
  </div>
</nav>
<app-bank-capital></app-bank-capital>
<div class="container">
  <router-outlet></router-outlet>
</div>
